.table__container {
    overflow: scroll;
}

.table__courses_list {
    cursor: pointer;
    padding: 0.1rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    margin: 0.5rem;
    border-radius: 0.3rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.table__courses_list:hover {
    background-color: rgba(222, 222, 222, 0.664);

}

.table__courses_list_clicked {
    color: red;
    box-shadow: 0 0 0.4rem black;
}

.table__courses_list_temp_change {
    background-color: rgba(255, 239, 170, 0.855);
}

.table__yearTitle {
    background-color: rgb(98, 171, 191);
}

.table__semesterTitle {
    background-color: rgb(121, 209, 233);
}

.table__bottom_buttons_container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.credits_dashboard__main_container {
    display:inline-flex;
}

.credits_dashboard__inner_container {
    margin: auto 1rem;
    width: 35vw;
}