.mainDiv {
  width: 100%;
  border-style: solid;
  border-color: black;
  border-radius: 0.25rem;
  border-width: 0.15rem;
  padding: 2rem;
  margin: 0.5rem;
  box-shadow: 0rem 0rem 0.2rem black;
  display: inline-flex;
  justify-content: center;
}

.inputField__container,
.button__container {
  text-align: center;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.button__container {
  border-radius: 0.3rem;
}

.inputField__label,
.button__field {
  font-size: 1rem;
  font-weight: 100;
  display: block;
}

.inputField__field {
  width: 7vw;
  font-size: 1.3rem;
  font-weight: 600;
  display: block;
  text-transform: uppercase;
  text-align: center;
  border: none;
  outline: none;
  border-bottom: solid;
  border-bottom-color: black;
}

.inputField__field_null {
  box-shadow: 0 0 1rem rgba(255, 73, 73, 0.441);
  background-color: rgba(249, 152, 152, 0.332);
  border-bottom-color: rgb(255, 36, 36);
}

.inputField__field:hover {
  border-bottom-color: rgb(57, 225, 225);
  transition: border-bottom-color 150ms;
}

.inputField__field:focus {
  border-bottom-color: rgb(57, 225, 225);
}

.button__field {
  min-width: 10vw;
  cursor: pointer;
  background-color: rgb(236, 255, 255);
  border-style: solid;
  border-color: black;
  border-radius: inherit;
  padding: 0.7rem;
}

.button__field:hover {
  background-color: rgb(165, 247, 247);
  box-shadow: 0rem 0rem 0.5rem rgb(57, 225, 225);
}

.button__field:active {
  background-color: rgb(57, 225, 225);
  box-shadow: 0rem 0rem 1rem rgb(57, 225, 225);
}

.my_table__apply_changes_bottun,
.my_table__cancel_changes_bottun,
.my_table__save_all_changes_bottun,
.my_table__cancel_all_changes_bottun {
  margin-left: -1rem;
  margin-right: -1rem;
}

.my_table__apply_changes_bottun, .my_table__save_all_changes_bottun {
  background-color: rgb(238, 255, 236);
}

.my_table__apply_changes_bottun:hover, .my_table__save_all_changes_bottun:hover {
  background-color: rgb(165, 247, 168);
  box-shadow: 0rem 0rem 0.5rem rgb(74, 225, 57);
}

.my_table__apply_changes_bottun:active, .my_table__save_all_changes_bottun:active {
  background-color: rgb(79, 225, 57);
  box-shadow: 0rem 0rem 1rem rgb(57, 225, 96);
}

.my_table__cancel_changes_bottun, .my_table__cancel_all_changes_bottun {
  background-color: rgb(255, 236, 236);
}

.my_table__cancel_changes_bottun:hover, .my_table__cancel_all_changes_bottun:hover {
  background-color: rgb(247, 165, 165);
  box-shadow: 0rem 0rem 0.5rem rgb(225, 57, 57);
}

.my_table__cancel_changes_bottun:active, .my_table__cancel_all_changes_bottun:active {
  background-color: rgb(227, 98, 79);
  box-shadow: 0rem 0rem 1rem rgb(225, 65, 57);
}

.my_table__save_all_changes_bottun, .my_table__cancel_all_changes_bottun {
    min-width: 30vw;
}
